:root {
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --basic-grey: #32425c;
    --basic-gark-grey: #293449;
    --basic-extra-dark-grey: #161D29;
    --basic-super-dark-grey: #1D2739;
    --basic-light-grey: #c5c5c5;
    --basic-ultra-light-grey: #e5e5e5;
    --basic-background: #f1f5f7;
    --basic-background-cream: #F7F3EC;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-pale-yellow: #99896e;
    --special-yellow: #ffbf47;
    --special-blue: #3bbce3;
    --special-lilac: #dc91d8;
    --special-light-green: #8ed78f;
    --special-light-yellow: #ffd180;
    --succes: #5fbb2d;
    --warning: #ffbf47;
    --error: #ba2732;
    --logo-bottom: #b32b34;
    --green-active: #518534;
    --green-bottom: #363715;
}

body{
    min-width: 960px;
    padding: 0; 
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Header */

.header{
    background-color: var(--basic-background);
}

.header-top{
    background-color: var(--basic-gark-grey);
    color: var(--basic-white);
}

.logo{
    display: block;
    background-color: var(--basic-red);
    border-bottom: 5px solid var(--logo-bottom);
}

.logo[href]:active{
    background-color: var(--error);
}

.header-top-link,
.header-search-label{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}


.header-top-link:active{
    background-color: var(--basic-extra-dark-grey);
    color: var(--basic-light-grey)
}

.product-cart{
    background-color: var(--basic-red);
}

.product-cart:active{
    background-color: var(--error);
}

.order {
    background-color: var(--basic-green);
}

.order:hover {
    background-color: var(--succes);
}

.order:active {
    background-color: var(--basic-green);
}

.header-desc{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
}

.header-contacts-wrap{
    text-align: center;
}

.header-tel{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
    border: 3px solid var(--basic-white)
}

.header-tel:active{
    color: var(--error);
}

.header-address{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-grey);
}

.header-user-navigation{
    list-style: none;
}

.header-user-navigation a{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.header-user-navigation a:hover{
    color: var(--basic-red);
}

.header-user-navigation a:active{
    color: var(--basic-light-grey);
}

.user-profile{
    background-color: var(--basic-white);
}

.user-profile a:active{
    color: var(--basic-light-grey);
}

.user-profile-name{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.nolist{
    list-style: none;
}

.user-links a{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey);
}

.user-links a:hover{
    color: var(--basic-red);
}

.user-links a:active{
    color: var(--basic-light-grey);
}

.header-navigation{
    background-color: var(--basic-grey);
    border-bottom: 5px solid var(--basic-gark-grey);
}

.header-navigation ul{
    list-style: none;
}

.header-navigation a{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.header-navigation a:hover{
    background-color: var(--basic-gark-grey);
}

.header-navigation a:active {
    background-color: var(--basic-super-dark-grey);
    color: var(--basic-light-grey);
}

.header-navigation-current a:not([href]){
    background-color: var(--basic-gark-grey);
    color: var(--basic-white);
}

/* Main */

.page-title{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-grey);
    background-color: var(--basic-background);
    text-transform: uppercase;
}

.page-button{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    outline: none;
    border-radius: 2px;
    border: none;
}

.page-button-enabled{
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-ultra-light-grey);
}

.page-button-enabled:hover{
    border-color: var(--basic-light-grey);
}

.page-button-enabled:active{
    border-color: var(--basic-red);
}

.page-button-disabled{
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Breadcrumbs */

.breadcrumbs{
    list-style: none;
    text-transform: uppercase;
}

.breadcrumbs a{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black); 
}

.breadcrumbs a[href]:hover{
    border-bottom: 1px solid var(--basic-red);

}

.breadcrumbs a[href]:active{
    color: var(--basic-light-grey);
    border-bottom: 1px dotted var(--basic-red);
}

/* Catalog filter & sort */

.catalog-sorting,
.filter-subtitle,
.price-filter-output,
.price-filter-range{
    background-color: var(--basic-background-cream);
    border-radius: 2px;
}

.section-subtitle{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.sorting-type-button{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-light-grey);
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: none;
    border-bottom: 1px dotted var(--basic-red);
    outline: none;
}

.sorting-type-button:hover{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    border-bottom: 1px solid var(--basic-red);
}

.sorting-type-button:active{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-red);
    text-transform: uppercase;
}

.catalog-filter legend{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black)
}

.price-filter-output{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-black)
}

.filter-option {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    list-style: none;
}

/* Product list */
.product-list{
    list-style: none;
}

.product-item{
    border: 1px solid var(--basic-light-grey);
}

.product-item h3{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--basic-black);
}

.product-item-buttons button{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    border-radius: 2px;
}

.add-to-cart{
    color: var(--basic-white);
    background-color: var(--basic-green);
    border: none;
    border-bottom: 3px solid var(--green-bottom);
}

.add-to-cart:hover{
    background-color: var(--succes);
}

.add-to-cart:active{
    background-color: var(--green-active);
}

.add-to-bookmarks{
    color: var(--basic-grey);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
}

.add-to-bookmarks:hover{
    color: var(--basic-grey);
    border-color: var(--basic-grey);
}

.add-to-bookmarks:active{
    color: var(--basic-light-grey);
    border-color: var(--basic-light-grey);
}

.price{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
}

.old-price{
    color: var(--basic-light-grey);
    text-decoration: line-through;
}

.current-price{
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.new-product{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Index-columns */

.index-columns h2{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black)
}

.index-columns p{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black)
}

.about-column li{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black)
}

.regular-button{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.regular-button:active{
    background-color: var(--error);
}

/* Footer */

.footer{
    background-color: var(--basic-grey);
}

.footer-contacts{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
}

.footer ul{
    list-style: none;
}


.footer-site-navigation a{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
}

.footer-section-navigation a[href]{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--special-light-yellow);
}

.footer-site-navigation a[href]:hover,
.footer-section-navigation a:hover{
    text-decoration: underline;
}

.footer-site-navigation a[href]:active{
    color: var(--basic-light-grey);
    text-decoration: none;
}

.footer-site-navigation-current a{
    color: var(--basic-light-grey);
}

.footer-section-navigation a:active{
    color: var(--basic-pale-yellow);
    text-decoration: none;
}

.footer-bottom{
    background-color: var(--basic-gark-grey);
}

.copyright{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.socials{
    text-align: center;
}

.socials a{
    color: var(--basic-white);
}

.socials a:hover{
    background-color: var(--basic-red);
}

.socials a:active{
    background-color: var(--basic-red);
}

.feedback,
.developed {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.feedback p,
.developed p{
    color: var(--basic-white);
}

.feedback a,
.developed a{
    color: var(--special-light-yellow);
}

.feedback a:hover,
.developed a:hover{
    text-decoration: underline;
}

.feedback a:active,
.developed a:active{
    color: var(--error);
}
