:root {
    --basic-red: #ee3643;
    --basic-green: #63a63e;
    --basic-grey: #32425c;
    --basic-gark-grey: #293449;
    --basic-extra-dark-grey: #161D29;
    --basic-super-dark-grey: #1D2739;
    --basic-light-grey: #c5c5c5;
    --basic-ultra-light-grey: #e5e5e5;
    --basic-background: #f1f5f7;
    --basic-background-cream: #F7F3EC;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-pale-yellow: #99896e;
    --special-yellow: #ffbf47;
    --special-yellow-hover: #eec16d;
    --special-yellow-active: #e5b864;
    --special-extra-light-yellow: #ffd27e;
    --special-blue: #3bbce3;
    --special-light-blue: #76d0eb;
    --special-blue-hover: #31a5c9;
    --special-blue-active: #247f9b;
    --special-lilac: #dc91d8;
    --special-light-lilac: #e7b2e4;
    --special-lilac-hover: #be7bbb;
    --special-lilac-active: #9c649a;
    --special-light-green: #8ed78f;
    --special-extra-light-green: #b0e3b1;
    --special-light-green-hover: #73b174;
    --special-light-green-active: #558656;
    --special-light-yellow: #ffd180;
    --succes: #5fbb2d;
    --warning: #ffbf47;
    --error: #ba2732;
    --logo-bottom: #b32b34;
    --green-active: #518534;
    --green-bottom: #363715;
}

body{
    min-width: 960px;
    padding: 0; 
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.page{
    height: 100%
}

.page-body{
    min-height:100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

/* Header */

.header{
    min-height: 320px;
    background-color: var(--basic-background);
}

.header-top{
    background-color: var(--basic-gark-grey);
    color: var(--basic-white);
    margin-bottom: 46px;

}

.header-top-layout{
    display: flex;
    justify-content: space-between;
}

.header-center-layout{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo{
    display: block;
    background-color: var(--basic-red);
    border-bottom: 5px solid var(--logo-bottom);
}

.logo[href]:active{
    background-color: var(--error);
}

.header-top-link{
    display: block;
}

.header-top-link,
.header-search-label{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}


.header-top-link:active{
    background-color: var(--basic-extra-dark-grey);
    color: var(--basic-light-grey)
}

.product-cart{
    background-color: var(--basic-red);
}

.product-cart:active{
    background-color: var(--error);
}

.order {
    background-color: var(--basic-green);
}

.order:hover {
    background-color: var(--succes);
}

.order:active {
    background-color: var(--basic-green);
}

.header-desc{
    width: 200px;
    margin: 0;
    margin-left: 30px;;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
}

.header-contacts{
    text-align: center;
}

.header-tel{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
    border: 3px solid var(--basic-white)
}

.header-tel:active{
    color: var(--error);
}

.header-address{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-grey);
}

.header-user-navigation{
    display: flex;
    list-style: none;
    margin:0;
    margin-right: 25px;
    padding: 0;
}

.user-navigation-link{
    display: block;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    margin: 0;
}

.user-navigation-link:hover{
    color: var(--basic-red);
}

.user-navigation-link:active{
    color: var(--basic-light-grey);
}

.user-link-enter{
    margin-right: 63px;
}

.user-profile{
    background-color: var(--basic-white);
}

.user-profile a:active{
    color: var(--basic-light-grey);
}

.user-profile-name{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.nolist{
    list-style: none;
}

.user-links a{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-grey);
}

.user-links a:hover{
    color: var(--basic-red);
}

.user-links a:active{
    color: var(--basic-light-grey);
}

.header-navigation{
    background-color: var(--basic-grey);
    border-bottom: 5px solid var(--basic-gark-grey);
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 60px;
}

.header-site-navigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-navigation a{
    display: block;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
}

.header-navigation a:hover{
    background-color: var(--basic-gark-grey);
}

.header-navigation a:active {
    background-color: var(--basic-super-dark-grey);
    color: var(--basic-light-grey);
}

.header-navigation-current a:not([href]){
    background-color: var(--basic-gark-grey);
    color: var(--basic-white);
}

/* Main */

.page-title{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-grey);
    background-color: var(--basic-background);
    text-transform: uppercase;
}

/* Features */

.features-list {
    list-style: none;
}

.feature-item h3{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 24px;
    line-height: 20px;
    color: var(--basic-white);
}

.feature-item-button{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
}

.feature-item-materials{
    background-color: var(--special-yellow);
}

.item-materials-button{
    background-color: var(--special-extra-light-yellow);
}

.item-materials-button:hover{
    background-color: var(--special-yellow-hover);
}

.item-materials-button:active{
    background-color: var(--special-yellow-active);
}

.feature-item-tool{
    background-color: var(--special-blue);
}

.item-tool-button{
    background-color: var(--special-light-blue);
}

.item-tool-button:hover{
    background-color: var(--special-blue-hover);
}

.item-tool-button:active{
    background-color: var(--special-blue-active);
}

.feature-item-technic{
    background-color: var(--special-lilac);
}

.item-technic-button{
    background-color: var(--special-light-lilac);
}

.item-technic-button:hover{
    background-color: var(--special-lilac-hover);
}

.item-technic-button:active{
    background-color: var(--special-lilac-active);
}

.feature-item-discount{
    background-color: var(--special-light-green);
}

.item-discount-button{
    background-color: var(--special-extra-light-green);
}

.item-discount-button:hover{
    background-color: var(--special-light-green-hover);
}

.item-discount-button:active{
    background-color: var(--special-light-green-active);
}

.feature-item-delivery{
    background-color: var(--special-yellow);
}

.item-delivery-button{
    background-color: var(--special-extra-light-yellow);
}

.item-delivery-button:hover{
    background-color: var(--special-yellow-hover);
}

.item-delivery-button:active{
    background-color: var(--special-yellow-active);
}

/* Slider */

.slide{
    background-color: var(--basic-light-grey);
}

.slide h3{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-white)
}

.slide p{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white)
}

.slide-one {
    background-image: url("../img/perforatorslide.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.slide-two {
    background-image: url("../img/drills-slider-img.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

/* Popular products & manufacturers */

.section-title-wrap{
    background-color: var(--basic-background-cream);
}

.popular-products h2{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black); 
}

.popular-manufacturers h2{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black);
}

.popular-manufacturers-list{
    list-style: none;
}

/* Services */

.services{
    background-color: var(--basic-background);
}

.services h2{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black); 
}

.services h3{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-grey);
}

.services p{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black); 
}

.services-list{
    list-style: none;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.service-type{
    color: var(--basic-white);
    background-color: var(--basic-grey);
}

.service-type:hover{
    background-color: var(--basic-gark-grey);
}

.sevice-type-selected{
    color: var(--basic-grey);
    background-color: var(--basic-white);
}

.delivery-service{
    background-image: url("../img/delivery-truck.png");
    background-repeat: no-repeat;
}

.guarantee-service{
    background-image: url("../img/guarantee-medal.png");
    background-repeat: no-repeat;
}

.credit-service{
    background-image: url("../img/credit-slip.png");
    background-repeat: no-repeat;
}


/* Breadcrumbs */

.breadcrumbs{
    list-style: none;
    text-transform: uppercase;
}

.breadcrumbs a{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black); 
}

.breadcrumbs a[href]:hover{
    border-bottom: 1px solid var(--basic-red);

}

.breadcrumbs a[href]:active{
    color: var(--basic-light-grey);
    border-bottom: 1px dotted var(--basic-red);
}

/* Catalog filter & sort */

.catalog-sorting,
.filter-subtitle,
.price-filter-output,
.price-filter-range{
    background-color: var(--basic-background-cream);
    border-radius: 2px;
}

.section-subtitle{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
}

.sorting-type-button{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-light-grey);
    text-transform: uppercase;
    background-color: var(--basic-background-cream);
    border: none;
    border-bottom: 1px dotted var(--basic-red);
    outline: none;
}

.sorting-type-button:hover{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    border-bottom: 1px solid var(--basic-red);
}

.sorting-type-button:active{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-red);
    text-transform: uppercase;
}

.sorting-type-button-selected{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-red);
    text-transform: uppercase;
    background-color: var(--basic-background-cream);
    border: none;
    outline: none;
}

.catalog-filter legend{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--basic-black)
}

.price-filter-output{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-black)
}

.filter-option {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    list-style: none;
}

.filter-submit-button{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-white);
    outline: none;
    border: none;
    border: 1px solid var(--basic-ultra-light-grey);
}

.filter-submit-button:hover{
    border: 1px solid var(--basic-light-grey);
}

.filter-submit-button:active{
    border: 1px solid var(--basic-red);
}

/* Product list */
.product-list{
    list-style: none;
}

.product-item{
    border: 1px solid var(--basic-light-grey);
}

.product-item h3{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--basic-black);
}

.product-item-buttons button{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    outline: none;
    border-radius: 2px;
}

.add-to-cart{
    color: var(--basic-white);
    background-color: var(--basic-green);
    border: none;
    border-bottom: 3px solid var(--green-bottom);
}

.add-to-cart:hover{
    background-color: var(--succes);
}

.add-to-cart:active{
    background-color: var(--green-active);
}

.add-to-bookmarks{
    color: var(--basic-grey);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
}

.add-to-bookmarks:hover{
    color: var(--basic-grey);
    border-color: var(--basic-grey);
}

.add-to-bookmarks:active{
    color: var(--basic-light-grey);
    border-color: var(--basic-light-grey);
}

.price{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
}

.old-price{
    color: var(--basic-light-grey);
    text-decoration: line-through;
}

.current-price{
    color: var(--basic-white);
    background-color: var(--basic-red);
}

.new-product{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
}

/* Paginator */

.paginator-button{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    outline: none;
    border-radius: 2px;
    border: none;
}

.paginator-button-enabled{
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-ultra-light-grey);
}

.paginator-button-enabled:hover{
    border-color: var(--basic-light-grey);
}

.paginator-button-enabled:active{
    border-color: var(--basic-red);
}

.paginator-button-disabled{
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Index-columns */

.index-columns{
    display: flex;
    justify-content: space-between;
}

.index-columns h2{
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black)
}

.index-columns p{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black)
}

.about-column{
    width: 460px;
}

.about-dilivery-info{
    margin: 0;
}

.about-column ul{
    margin: 0;
    margin-bottom: 20px;
}

.about-column li{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black)
}
 
.about-column-button{
    width: 220px;
    margin: 0;
    margin-bottom: 70px;
}

.address-column{
    width: 300px;
}

.address-column-map{
    margin: 0;
    margin-bottom: 25px;
}

.about-company-info,
.addres-column-info{
    margin: 0;
    margin-bottom: 32px;
}

.address-column-button{
    width: 300px;
    margin: 0;
    margin-bottom: 70px;
}

/* Regular button styles */

.regular-button{
    display: inline-block;
    height: 38px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.regular-button:active{
    background-color: var(--error);
}





/* Product description */

.product-description{
    background-color: var(--basic-background);
}

.product-description h2{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.product-description p{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
}

/* Footer */

.footer{
    background-color: var(--basic-grey);
}

.footer-top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo{
    display: block;
    box-sizing: border-box;
    width: 220px;
    height: 68px;
    text-align: center;
    background-color: var(--basic-red);
    border-bottom: 5px solid var(--logo-bottom);
    margin: 0;
    margin-bottom: 22px;
}

.footer-logo img{
    padding-top: 20px;;
}

.footer-logo[href]:active{
    background-color: var(--error);
}

.footer-contacts{
    width: 330px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
    order: 1;
    margin: 0;
    margin-bottom: 54px;
}

.footer ul{
    list-style: none;
}

.footer-site-navigation{
    display: flex;
    justify-content: space-between;
    width: 560px;
    margin: 0;
    margin-top: 37px;
}

.footer-site-navigation a{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
}

.footer-section-navigation{
    display: flex;
    justify-content: space-between;
    order: 1;
    width: 540px;
    margin: 0;
    margin-top: 6px;
}

.footer-section-navigation a[href]{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--special-light-yellow);
}

.footer-site-navigation a[href]:hover,
.footer-section-navigation a:hover{
    text-decoration: underline;
}

.footer-site-navigation a[href]:active{
    color: var(--basic-light-grey);
    text-decoration: none;
}

.footer-site-navigation-current a{
    color: var(--basic-light-grey);
}

.footer-section-navigation a:active{
    color: var(--basic-pale-yellow);
    text-decoration: none;
}

.footer-bottom{
    background-color: var(--basic-gark-grey);
}

.footer-bottom-wrapper{
    display: flex;
    justify-content: space-between;
}

.copyright{
    width: 240px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.socials{
    text-align: center;
}

.socials a{
    color: var(--basic-white);
}

.socials a:hover{
    background-color: var(--basic-red);
}

.socials a:active{
    background-color: var(--basic-red);
}

.feedback-developped-wrapper{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.developed{
    margin: 0;
    margin-right: 14px;
}

.feedback,
.developed {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.feedback p,
.developed p{
    color: var(--basic-white);
}

.feedback a,
.developed a{
    color: var(--special-light-yellow);
}

.feedback a:hover,
.developed a:hover{
    text-decoration: underline;
}

.feedback a:active,
.developed a:active{
    color: var(--error);
}
